<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @product.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Original price:</strong>
  <%= @product.original_price %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @product.final_price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
